cachetools==4.2.4
certifi==2022.12.7
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.2
cryptography==35.0.0
cssselect==1.1.0
cssutils==2.3.0
email-to==0.1.0
idna==3.2
libxml2-python3==2.9.5
lxml==4.9.1
Markdown==3.3.4
ndg-httpsclient==0.5.1
premailer==3.10.0
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==21.0.0
redis==3.5.3
requests==2.26.0
rq==1.10.0
secure-smtplib==0.1.1
six==1.16.0
urllib3==1.26.7